extends layouts/base

block content
    main.container.mt-5
        .row
            .col-12.col-md-6
                img.img-fluid(src='/assets/images/undraw_Eating_together_re_ux62.svg')
            section.col-12.col-md-6
                h2.mt-3.text-center.mt-md-0 Sobre Nosotros
                p
                    | La casa de las salsas es un restaurante especializado en traer a tu paladar diversos tipos de salsas deliciosas y un tanto exóticas que podrás probar en tu papa tarasca, incluida nuestra famosa "Salsa Secreta".
                p
                    | 
        section.mt-5.row
            .col-12.col-md-6
                h3.text-center ¿Donde estamos?
                p
                    | Nos Encontramos la calle Emiliano Zapata N° 373 Cerca de la tortilleria Zapata y de la Panaderia Santiago en el Barrio del Llanito.
                p
                    | 
            .col-12.col-md-6
                iframe.mt-3.w-100(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.454128673596!2d-102.00731288508584!3d19.90525898661757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842dd4c73dce399f%3A0xacc9f45da613d78!2sCalle%20Emiliano%20Zapata%20373%2C%20Barrio%20del%20Llanito%2C%2058760%20Pur%C3%A9pero%20de%20Ech%C3%A1iz%2C%20Mich.!5e0!3m2!1ses!2smx!4v1633316794211!5m2!1ses!2smx' height='450' style='border:0;' allowfullscreen='' loading='lazy')
