extends layouts/base

block content
    main.container.mt-5
        .row
            .col-12.col-md-6
                img.img-fluid(src='Imagenes/undraw_Eating_together_re_ux62.svg')
            section.col-12.col-md-6
                h2.mt-3.text-center.mt-md-0 Sobre Nosotros
                p
                    | Ipsum adipisicing mollit reprehenderit minim. Nulla aliquip ullamco irure excepteur sit proident tempor laborum. Mollit culpa deserunt deserunt labore eu. Lorem ea reprehenderit ut magna duis ipsum nostrud id minim amet elit aliquip nostrud sunt. Reprehenderit ipsum enim proident cupidatat deserunt eiusmod eu tempor cillum et amet aliqua reprehenderit amet. Eiusmod tempor aute excepteur minim ullamco nisi cillum.
                p
                    | Dolor laboris exercitation in dolor eu nostrud. Voluptate commodo pariatur voluptate exercitation. Dolor enim commodo Lorem veniam.
        section.mt-5.row
            .col-12.col-md-6
                h3.text-center ¿Donde estamos?
                p
                    | Velit voluptate laborum sunt nulla. Quis aute minim ut consectetur sunt in. Cillum veniam excepteur ipsum qui anim anim. Exercitation cillum magna ut excepteur labore velit excepteur veniam. Qui aute ipsum commodo ullamco irure excepteur veniam voluptate aute. Irure do ipsum dolor minim aliquip nisi et qui esse deserunt.
                p
                    | Velit voluptate laborum sunt nulla. Quis aute minim ut consectetur sunt in. Cillum veniam excepteur ipsum qui anim anim. Exercitation cillum magna ut excepteur labore velit excepteur veniam. Qui aute ipsum commodo ullamco irure excepteur veniam voluptate aute. Irure do ipsum dolor minim aliquip nisi et qui esse deserunt.
            .col-12.col-md-6
                iframe.mt-3(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.454128673596!2d-102.00731288508584!3d19.90525898661757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842dd4c73dce399f%3A0xacc9f45da613d78!2sCalle%20Emiliano%20Zapata%20373%2C%20Barrio%20del%20Llanito%2C%2058760%20Pur%C3%A9pero%20de%20Ech%C3%A1iz%2C%20Mich.!5e0!3m2!1ses!2smx!4v1633316794211!5m2!1ses!2smx' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
